.header_Docente {
  background-color: #07bbbb;
  padding: 20px;
  text-align: center;
  vertical-align: middle;
  color: #302b55;
}

.header_Docente h1{
  color: #302b55;
}

.meseros {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  vertical-align: middle;
}

.content_Docente {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.Mesas_Table_Docente {
  border-collapse: collapse;
  margin-right: 20px;
}

.Mesas_Table_Docente h2 {
  text-align: center;
  color: #302b55;
}

.Mesas_Table_Docente table {
  width: 100%;
}

.Mesas_Table_Docente th,
.Mesas_Table_Docente td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  text-align: center; /* Centrar horizontalmente el texto */
  vertical-align: middle; /* Centrar verticalmente el texto */
}

.Mesas_Table_Docente th {
  background-color: #07bbbb;
  color: white;
}