body {
    margin: 0;
    padding: 0;
    background-color: #daf5f5;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
    padding: 2vh;
}

.options {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Agregado para centrar verticalmente */
}

.option, .big-option {
    width: 40%;
    margin: 2vh;
    border: 4px solid #07bbbb;
    background-color: #07bbbb;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0px;
    cursor: pointer;
    text-align: center; /* Agregado para centrar horizontalmente */
}

.option img{
    width: 90%;
    height: auto;
}

.big-option img {
    width: 100%;
    height: auto;
}

.big-option {
    margin: 5vh;
    border: 5px solid #07bbbb;
    background-color: #07bbbb;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    padding: 20px 20px;
    margin-right: 20%;
}

.boton-center {
    align-items: center;
    justify-content: center;
    align-content: center;
    display: flex;
    font-weight: bolder;
}
