body {
    margin: 0;
    padding: 0;
    background-color: #daf5f5;
    font-family: Arial, sans-serif;
}
.header_Line {
    text-align: center; /* Centra el contenido horizontalmente */
}

.line {
    width: 100%;
    border: 1px solid #07bbbb; /* Color de la línea, ajusta según tu diseño */
}

.page_Title {
    background-color: #daf5f5; /* Color de fondo, ajusta según tu diseño */
    padding: 0 20px; /* Añade espacio alrededor del título */
    position: relative;
    top: -20px; /* Ajusta la posición vertical del título */
    display: inline-block; /* Permite que el fondo se ajuste al contenido */
    color: #302b55;
}

.header_Menu {
    margin-right: 2%;
    display: flex;
    justify-content: space-between; /* Alinea los elementos al inicio y al final del contenedor */
    align-items: center; /* Centra verticalmente los elementos */
}

.header_Menu button {
    margin-left: auto; /* Mueve el botón al extremo derecho del contenedor */
    padding: 12px 30px;
}

.container_Menu {
    display: flex;
    height: 50vh;
    justify-content: space-between;
    align-items: center;
    padding: 2vh;
}

.options_Menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Agregado para centrar verticalmente */
}

.option_Menu, .big-option_Menu {
    width: 40%;
    margin: 0.5vh;
    border: 4px solid #07bbbb;
    background-color: #07bbbb;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0px;
    cursor: pointer;
    text-align: center; /* Agregado para centrar horizontalmente */
}

.option_Menu img{
    width: 90%;
    height: auto;
}

.big-option_Menu img {
    width: 80%;
    height: auto;
}

.big-option_Menu {
    margin: 2vh;
    border: 5px solid #07bbbb;
    background-color: #07bbbb;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    padding: 20px 0px;
    margin-right: 20%;
}

.titles_Menu{
    margin: 5px 0; /* Elimina el margen superior e inferior */
    color: #302b55; /* Cambia el color del texto a negro, puedes ajustar según tu diseño */
    text-decoration: none; /* Elimina el subrayado del enlace */
    cursor: default; /* Cambia el cursor al predeterminado */
    font-size: 12;
}

.PDF_BackGround{
    background-color: #b8e7e7;
}
.PDF_Seleccion{
    margin: 10px 0; /* Elimina el margen superior e inferior */
    color: #302b55; /* Cambia el color del texto a negro, puedes ajustar según tu diseño */
    text-decoration: none; /* Elimina el subrayado del enlace */
    cursor: pointer;
    margin-top: -30px;
    margin-left: 350px;
}

.PDF_Check{
    color: #302b55;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.3em;
}

.PDF_Check_2{
    color: #302b55;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.5em;
    margin-top: -32px;
    margin-left: 260px;
}

.PDF_checkbox{
    transform: scale(1.6);
    margin-right: 12px;
}

.PDF_Button{ 
    border: 2px solid #28b3b3;
    background-color: #47b4b47a;
    color: #302b55;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    padding: 10px;
    width: 270px;
}

.PDF_Title{
    color: #302b55;
    text-decoration: none;
    cursor: pointer;
    margin: 5px 0;
}
.PDF_Title_2{
    margin-top: -25px;
}
.PDF_Fecha{
    color: #302b55;
    text-decoration: none;
    font-size: 1.5em;
    margin-top: 40px;
    margin-left: 260px;
    display: flex;
}
.disabled {
    border: 2px solid #70aaaa;
    background-color: #a5dbdb;
    color: #868686;
}

.PDF_Orden {
    border: 2px solid #28b3b3;
    background-color: #47b4b47a;
    color: #302b55;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.5em;
    margin-inline-end: 216px;
    margin-top: -35px;
    padding: 1px;
    padding-left: 10px;
    padding-right: 10px;
    float: right;
}
.PDF_ClearData {
    border: 2px solid #28b3b3;
    background-color: #47b4b47a;
    color: #302b55;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.5em;
    margin-inline-end: 216px;
    margin-top: -28px;
    padding: 1px;
    padding-left: 10px;
    padding-right: 10px;
    float: right;
}

.PDF_OneDay {
    font-size: 1.5em;
    text-decoration: none;
    cursor: pointer;
    margin-inline-end: 338px;
    margin-top: 6px;
    padding: 1px;
    padding-left: 10px;
    padding-right: 10px;
    float: right;
    color: #302b55;
}
.PDF_OneDay_Title {
    font-size: 0.9em;
}